.cards {
    &__title {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        background-color: #768692;
        h4 {
            color: #ffffff;
        }
    }
    a {
        text-decoration: none;
        color: #000;
    }
    .active {
        background-color: #009cde;
    }
}